.Aboutus{
    background-color: hsla(0, 0%, 94%, 0.638);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 50px;
}

.Aboutus-content h2{
    font-size: 30px;
    color: blue;
    margin-top: 25px;
}

.Aboutus-content h3{
    font-size: 25px;
    margin-top: 25px;
}

.Aboutus-content p{
    margin-top: 18px;
}

.Aboutus-content .MoreInfo{
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    color: blue;
}

.Aboutus-content .MoreInfoo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 32px;
}
